.banner{
    .imgBanner{
        width: 100%;
        filter: brightness(50%);
    }

    .descricaoBanner{
        width: 32%;
        position: absolute;
        top: 33%;
        left: 10%;
        color: #fff;
        line-height: 2;
        h3{
            font-size: 28px;
            font-weight: 800;
            margin-bottom: 12px;
        }
        span{
            font-weight: 800;
        }
    }
}