.produtos{
    background-color: #ccc;
    .tituloSecaoProduto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        line-height: 1.4;
        
        h4{
            margin-bottom: 8px;
            font-weight: 800;
            font-size: 28px;
        }
    }
    .produtosContainer{
        .produtosTenis{
            gap: 12%;

            .card{
                margin: 12px 0;
                box-shadow: 0 4px 8px 0 #bf7171e0;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 10);
                    
                }
            }
        }
    }

    @media screen and (max-width: 700px){
        .produtosContainer{
            .produtosTenis{
                    justify-content: center;
            }
        }
    }
}