*{
    background-color: #09090B;
    font-family: "Inter";
}

.logo{
    margin: 12px;
    height: 36px;
}

.menu{
    display: none;
}

/*banner*/
.banner{
    max-width: 1146px;
}

.descricaoBanner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descricaoBanner h1{
    color: #fff;
    font-size: 32px;
    margin: 0 0 32px 0;
}
.descricaoBanner h1 span{
    background: rgb(255,141,141);
    background: linear-gradient(90deg, rgba(255,141,141,1) 23%, rgba(247,252,14,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
}

.descricao{
    color: #fff;
    font-size: 16px;
    line-height: 25px;
    width: 72%;
    font-weight: 300;
}

.btnExplorar{
    background: linear-gradient(90deg, rgba(255,141,141,1) 0%, rgba(247,252,14,1) 100%);
    border: none;
    color: #000;
    width: 312px;
    height: 51px;
    padding: 12px;
    border-radius: 6px;
    font-weight: 700;
    margin-top: 32px;
    text-transform: uppercase;
}

/*Colecao*/
.containerColecao{
    display: flex;
    align-items: center;
    justify-content: center;
}

.colecao{
    width: 312px;
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    margin-top: 56px;
    background-image: url("../images/bgColecao.png");
}

.colecao span{
    color: #fff;
    font-family: "jura";
    background: transparent;
    font-size: 40px;
}

.colecao p{
    color: #fff;
    font-family: "Jura";
    background: transparent;
    font-size: 16px;
}
.colecao::before{
    content: "";
    height: 2px;
    width: 243px;
    background-color: rgba(217, 217, 217, 0.2);
    position: absolute;
    top: 65%;
    left: 75px;
}
.colecao::after{
    content: "";
    height: 2px;
    width: 67px;
    background-color: #F7FC0E;
    position: absolute;
    top: 65%;
    left: 75px;
}

/**NFTS*/
.nfts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-top: 82px;
}

.nfts h3{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/*Colecionadores*/
.colecionadores{
    max-width: 1146px;
}
.colecionadores h3{
    color: #fff;
    font-size: 24px;
    line-height: 26px;
    margin: 16px 0px 0 24px;
}

.titulosBarra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 48px 0 24px;   
}

.titulosBarra h4{
    color: #fff;
    font-size: 14px;
    line-height: 17px;
}

.titulosBarra::before{
    content: "";
    height: 2px;
    width: 312px;
    background-color: rgba(217, 217, 217, 0.2);
    position: absolute;
    top: 100rem;
    left: 27px;
}
.titulosBarra::after{
    content: "";
    height: 2px;
    width: 181px;
    background-color: #F7FC0E;
    position: absolute;
    top: 100rem;
    left: 27px;
}