*{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

#banner img{
    width: 100vw;
}

#banner .tituloBanner{
    font-size: 96px;
    font-weight: 600;
    line-height: 120px;        
    position: absolute;
    top: 20%;
    left: 24%;
    transform: translate(50%, 50%);
    color: #fff;
}

.tituloBanner span:nth-child(1){
    color: #FFA200;
}

.tituloBanner span:nth-child(2){
    color: #CF3031;
}

.tituloBanner span:nth-child(3){
    color: #5C913B;
}


