.banner{
    background-color: #D7D4FF;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 8px 16px 16px 16px;
    gap: 15%;
    justify-content: center;
    font-family: "Lato", "Merriweather";

    .descricao{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        h1{
            font-size: 32px;
            margin-bottom: 12px;
            color: #2B2B2B;
        }

        p{
            margin-bottom: 16px;
            font-size: 18px;
            font-weight: 400;
            width: 95%;
            color: #555555;
        }

        .botaoRoxo{
            background: #6C63FF;
            padding: 12px 32px;
            font-weight: 700;
            border: none;
            color: #fff;
            border-radius: 8px;
            -webkit-box-shadow: 6px 3px 7px 4px rgba(0,0,0,0.55); 
            box-shadow: 6px 3px 7px 4px rgba(0,0,0,0.55);
            cursor: pointer;
        }

    }

    .presente{
        height: 35%;
        width: auto;
    }
}

.cardColor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
    padding: 16px;

    .card1{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);

        .color{
            width: 100%;
            height: 222px;
            background-color: #FF6363;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .card2{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);
        margin-top: 32px;
        
        .color{
            width: 100%;
            height: 222px;
            background-color: #63ECFF;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }
    
    .card3{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);
        margin-top: 32px;
        
        .color{
            width: 100%;
            height: 222px;
            background-color: #F363FF;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .card4{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);
        margin-top: 32px;
        
        .color{
            width: 100%;
            height: 222px;
            background-color: #63FF73;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .card5{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);
        margin-top: 32px;
        
        .color{
            width: 100%;
            height: 222px;
            background-color: #FFDD63;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }

    .card6{
        background-color: #fff;
        width: 79%;
        -webkit-box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48); 
        box-shadow: 13px 6px 23px -2px rgba(0,0,0,0.48);
        margin-top: 32px;
        
        .color{
            width: 100%;
            height: 222px;
            background-color: #6663FF;
        }

        h3{
            padding: 12px;
            font-size: 24px;
        }

        p{
            padding: 12px;
            color: #555555;
            font-weight: 400;
            line-height: 1.4;
        }
    }
}

.formularioContato{
    padding: 32px;
    background-color: #D7D4FF;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    
    form{
        display: flex;
        flex-direction: column;
        text-align: center;

        h2{
            font-size: 32px;
            margin-bottom: 28px;
        }

        input{
            padding: 12px;
            border-radius: 6px;
            border: none;
            outline: none;
            margin: 12px 0 12px 0;
        }

        .messageInput{
            height: 120px;
            padding: 12px;
            border-radius: 6px;
            border: none;
            outline: none;
            margin: 12px 0 12px 0;
        }

        .enviarButton{
            background: #6C63FF;
            color: #fff;
            font-weight: 800;
        }
    }

}