.banner {
  background-color: #D7D4FF;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 16px 16px;
  gap: 15%;
  justify-content: center;
  font-family: "Lato", "Merriweather";
}
.banner .descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banner .descricao h1 {
  font-size: 32px;
  margin-bottom: 12px;
  color: #2B2B2B;
}
.banner .descricao p {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  width: 95%;
  color: #555555;
}
.banner .descricao .botaoRoxo {
  background: #6C63FF;
  padding: 12px 32px;
  font-weight: 700;
  border: none;
  color: #fff;
  border-radius: 8px;
  box-shadow: 6px 3px 7px 4px rgba(0, 0, 0, 0.55);
  cursor: pointer;
}
.banner .presente {
  height: 35%;
  width: auto;
}

.cardColor {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  padding: 16px;
}
.cardColor .card1 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
}
.cardColor .card1 .color {
  width: 100%;
  height: 222px;
  background-color: #FF6363;
}
.cardColor .card1 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card1 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cardColor .card2 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
  margin-top: 32px;
}
.cardColor .card2 .color {
  width: 100%;
  height: 222px;
  background-color: #63ECFF;
}
.cardColor .card2 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card2 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cardColor .card3 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
  margin-top: 32px;
}
.cardColor .card3 .color {
  width: 100%;
  height: 222px;
  background-color: #F363FF;
}
.cardColor .card3 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card3 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cardColor .card4 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
  margin-top: 32px;
}
.cardColor .card4 .color {
  width: 100%;
  height: 222px;
  background-color: #63FF73;
}
.cardColor .card4 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card4 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cardColor .card5 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
  margin-top: 32px;
}
.cardColor .card5 .color {
  width: 100%;
  height: 222px;
  background-color: #FFDD63;
}
.cardColor .card5 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card5 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}
.cardColor .card6 {
  background-color: #fff;
  width: 79%;
  box-shadow: 13px 6px 23px -2px rgba(0, 0, 0, 0.48);
  margin-top: 32px;
}
.cardColor .card6 .color {
  width: 100%;
  height: 222px;
  background-color: #6663FF;
}
.cardColor .card6 h3 {
  padding: 12px;
  font-size: 24px;
}
.cardColor .card6 p {
  padding: 12px;
  color: #555555;
  font-weight: 400;
  line-height: 1.4;
}

.formularioContato {
  padding: 32px;
  background-color: #D7D4FF;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.formularioContato form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.formularioContato form h2 {
  font-size: 32px;
  margin-bottom: 28px;
}
.formularioContato form input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 12px 0 12px 0;
}
.formularioContato form .messageInput {
  height: 120px;
  padding: 12px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 12px 0 12px 0;
  resize: none;
}
.formularioContato form .enviarButton {
  background: #6C63FF;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

@media screen and (min-width: 1366px) {
  .banner {
    flex-direction: row;
    padding: 16px 64px 16px 64px;
    gap: 15%;
    justify-content: space-between;
    align-items: center;
  }
  .banner .descricao h1 {
    width: 50%;
  }
  .banner .descricao p {
    width: 60%;
    margin-top: 12px;
    line-height: 1.9;
  }
  .banner .descricao .botaoRoxo {
    padding: 12px 42px;
  }
  .banner .presente {
    height: 52%;
  }

  .cardColor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 42px 64px 42px 64px;
    align-items: center;
    justify-content: space-between;
  }
  .cardColor .card1 {
    margin-top: 32px;
  }

  .formularioContato {
    margin-top: 0;
  }
  .formularioContato form {
    align-items: center;
  }
  .formularioContato form input {
    width: 40%;
  }
  .formularioContato form .messageInput {
    width: 40%;
  }
}
@media screen and (min-width: 1900px) {
  .banner {
    padding: 16px 80px 16px 80px;
  }
  .banner .descricao h1 {
    width: 55%;
    font-size: 42px;
  }
  .banner .descricao p {
    margin-bottom: 24px;
  }

  .cardColor {
    justify-items: center;
  }
  .cardColor .card1 {
    width: 50%;
  }
  .cardColor .card2 {
    width: 50%;
  }
  .cardColor .card3 {
    width: 50%;
  }
  .cardColor .card4 {
    width: 50%;
  }
  .cardColor .card5 {
    width: 50%;
  }
  .cardColor .card6 {
    width: 50%;
  }

  .formularioContato {
    margin-top: 0;
  }
  .formularioContato form input {
    width: 25%;
  }
  .formularioContato form .messageInput {
    width: 25%;
  }
}/*# sourceMappingURL=main.css.map */