.haederBloco{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloBloco{
    color: #000;

}


.heart{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.heartBlack{
    display: none;
}

.alert{
    background-color: #fff;
    margin-top: 12px;
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
}

.alert p{
    color: #000;
}
