*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
    
}
.global{

    background: linear-gradient(90deg, rgba(98,142,117,1) 5%, rgba(26,72,85,1) 88%);
    height: 100vh;
}

.container{
    display: flex;
}

.menu{
    display: flex;
    width: 100%;
    gap: 65%;
}

.logo{
    position: relative;
    left: 10%;
}

.iconRede{
    width: 10%;
    display: flex;
    height: 24px;
    justify-content: space-between;
    margin-top: 30px;
}

.container{
    color: #F9F9F9;
    gap: 10%;
}

.fantasmas{
    height: 35vw;
}

.descricaoFilme{
    width: 35%;
    height: 10%;
    margin-left: 70px;
    position: relative;
    left: 50px;
    top: 14rem;
}
.titleFilme{
    font-size: 60px;
    width: 55%;
}

p{
    width: 70%;
}

.botoes{
    margin-top: 20px;
    display: flex;
    gap: 10%;
}

.playButton{
    padding: 5px;
    transform: skew(-20deg, 0deg);
    background-color: #66c28b;
    border: none;
    color: #f9f9f9;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px #437256;
    cursor: pointer;
}

.trailer{
    background: transparent;
    color: #f9f9f9;
    padding: 5px;
    border: 2px solid #66c28b;
    transform: skew(-20deg, 0deg);
    cursor: pointer;
}

@media screen and (max-width: 1366px) {
    .descricaoFilme{
        top: 3rem;
    }

    .titleFilme{
        width: 75%;
    }
}

@media screen and (max-width: 800px){
    .global{
        height: 100vh;
        width: 100vw;
    }

    .titleFilme{
        width: 50vw;
        font-size: 32px;
    }

    .menu{
        gap: 50%;
    }

    .logo{
        left: 5%;
        height: 60px;
        left: 5%;
        top: 25px;
    }

    .iconRede{
        gap: 35%;
    }

    .container{
        gap: 0;
    }

    .fantasmas{
        height: 50vw;
        position: relative;
        top: 30px;
        right: 25vw;

    }

    .descricaoFilme{
        top: 15rem;
        margin-left: 0;
        left: 20px;
    }

    p{
        width: 24rem;
    }

<<<<<<< HEAD
    
=======
    .trailer{
        display: none;
    }

>>>>>>> 421479bcc72279ed09e9557353d13a67a80eb480
}